<div class="container">
  <div class="container-inner inner-default clearfix">

    <% items.each do |item| %>
        <% if items.index(item) == 0 or items.index(item) == 1 or items.index(item) == 2 %>
            <div class="item-box-top">
                <div class="rank_number">
                    <p class="title h2">
                        No.<%= items.index(item) + 1 %>
                    </p>
                </div>
                <div class="image">
                    <div class="img-wrap">
                        <% if item.large_image.present? %>
                            <%= image_tag(item.large_image , alt: item.title) %>
                        <% else %>
                            <%= image_tag("no-image.png" , alt: item.title) %>
                        <% end %>
                    </div>
                </div>
                <div class="detail">
                    <p class="title">
                        <%= item.title %>
                    </p>
                </div>
              <%= render 'items/action' , item: item %>
            </div>

        <% else %>

            <div class="item-box">
                <div class="rank_number">
                    <p class="title h3">
                    No.<%= items.index(item) + 1 %>
                    </p>
                </div>
                <div class="image">
                    <div class="img-wrap">
                        <% if item.large_image.present? %>
                            <%= image_tag(item.large_image , alt: item.title) %>
                        <% else %>
                            <%= image_tag("no-image.png" , alt: item.title) %>
                        <% end %>
                    </div>
                </div>
                <div class="detail">
                    <p class="title">
                        <%= item.title %>
                    </p>
                </div>
                <%= render 'items/action' , item: item %>
            </div>
        <% end %>  
    <% end %>
  </div>
</div>
